#nav-head {
    width: 100%;
    height: 60px;
}

.navbar-top {
    padding-top: 0px;
}

.nav-item {
    margin: auto;
    user-select: none;
    cursor: pointer;
}

#icon {
    width: 50%;
}

.nav-icon {
    flex: 1;
    padding: 10px 10px;
    margin: 3px;
    width: 170px;
    cursor: pointer;
}

#nav-side {
    flex: 1;
    flex-direction: column;
    min-width: 100px;
}

#content {
    display: flex;
    flex-direction: row;
    flex: 10;
}

#imgHolder {
    flex: 1;
}

#CustomizersHolder {
    flex: 1.5;
    border: 1px solid #000000;
}

#CustomizeHeader {
    /* text-align: center; */
    flex: 1;
    /* margin-left: 20%; */
    padding: 10px;
}

#lay {
    margin-left: 15%;
    width: 400px;
    position: absolute;
}

/* #Seg-img-cont{
    border: 1px solid #000000;
} */